{% extends "base.html.j2" %}

{% block content %}
<body>
  <div class="logo-row">
    <a href="{{ url_for('index') }}"></a>
  </div>

  <section>
    <h2>最新上映電影</h2>
    <div class="movie">
    <a href="{{ url_for('reviews') }}" target="_self">
      <img src="{{ url_for('static', filename='獅子王：木法沙(英語版).jpg') }}" alt="獅子王：木法沙(英語版)日" width="200" height="300">
      <h3>獅子王：木法沙(英語版)</h3>
      </a>
    </div>
    <div class="movie">
     <a href="{{ url_for('reviewa') }}" target="_self">
      <img src="{{ url_for('static', filename='「進擊的巨人」完結篇THE LAST ATTACK.jpg') }}" alt="「進擊的巨人」完結篇THE LAST ATTACK" width="200" height="300">
      <h3>「進擊的巨人」完結篇THE LAST ATTACK</h3>
    </a>
    </div>
  </section>

  <footer>
    <p>&copy; 2025 百影院. All rights reserved.</p>
  </footer>
</body>
{% endblock %}