{% extends "index.html.j2" %}

{% block title %}「進擊的巨人」完結篇THE LAST ATTACK - 評論{% endblock %}

{% block content %}
<style>
    .showtimes table {
        border-collapse: collapse;
        width: 100%;
    }

    .showtimes th, .showtimes td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
</style>

<div class="container">
  <h1>「進擊的巨人」完結篇THE LAST ATTACK - 影評</h1>
  <img src="{{ url_for('static', filename='「進擊的巨人」完結篇THE LAST ATTACK.jpg') }}" alt="「進擊的巨人」完結篇THE LAST ATTACK" width="200" height="300">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <p>
    **電影簡介:**
    <p>人類為了躲避巨人威脅而建築高聳巨大城牆，躲在城牆中過著苟且偷生的日子。</p>
    <p>一天，超大型巨人來襲打破了歷經百年的和平日常，紛亂中失去母親的少年艾連・葉卡自此發誓要驅逐所有巨人，成為與巨人戰鬥的調查軍團的一員。</p>
    
    <p>在幾番賭命的險惡戰鬥中，艾倫得到化身為巨人的能力，一邊為人類的勝利做出貢獻，逐步慢慢接近世界的真相。時光流逝，來到牆外世界的艾連選擇與調查軍團的伙伴們分道揚鑣，執行一個驚世駭俗的恐怖計畫。</p>
    
    <p>率領無數巨人將這個世界上所有能稱之為生命的生命盡數蹂躪的「地鳴」。</p>
    
    <p>以米卡莎和阿爾敏為首的倖存者們，為了阻止意圖毀滅世界的艾倫，挺身挑戰最後的戰役。</p>
    
    <p>超人氣動畫《進擊的巨人》The Final Season 完結篇「後篇」重新剪輯，製作成為片長 145 分鐘的劇場版作品，畫面全面優化並採用戲院規格音效處理，讓動畫昇華為更震撼人心的史詩式作品！</p>
    
    <p>導演    林祐一郎</p>
    <p>演員	聲演：梶裕貴、石川由依、井上麻里奈、谷山紀章、下野紘、神谷浩史</p>
  </p>
  <p>
    **放映場次:**
  </p>
  <div class="showtimes">
    <table>
      <thead>
        <tr>
          <th>地點</th>
          <th>日期</th>
          <th>時間</th>
          <th>影廳</th>
          <th>票價</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>B+ cinema MOKO (旺角東)</td>
          <td>06/02 (Thu)</td>
          <td>09:45 PM</td>
          <td>2廳</td>
          <td>$110</td>
        </tr>
        <tr>
          <td>PREMIERE ELEMENTS</td>
          <td>06/02 (Thu)</td>
          <td>01:00 PM</td>
          <td>12廳</td>
          <td>$115</td>
        </tr>
        <tr>
          <td>MY CINEMA YOHO MALL</td>
          <td>06/02 (Thu)</td>
          <td>09:45 PM</td>
          <td>6廳</td>
          <td>$105</td>
        </tr>
        <tr>
          <td>澳門影匯戲院</td>
          <td>06/02 (Thu)</td>
          <td>01:30 PM</td>
          <td>VIP 6</td>
          <td>MOP $75</td>
        </tr>
      </tbody>
    </table>
    <p>* = 指定首映長春優先場</p>
  </div>
  <p>
    **影評:**
  </p>
</div>
{% endblock %}