{% extends "index.html.j2" %}

{% block title %}獅子王：木法沙(英語版) - 評論{% endblock %}

{% block content %}
<style>
    .showtimes table {
        border-collapse: collapse;
        width: 100%;
    }

    .showtimes th, .showtimes td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
</style>

<div class="container">
  <h1>獅子王：木法沙(英語版) - 影評</h1>
  <img src="{{ url_for('static', filename='獅子王：木法沙(英語版).jpg') }}" alt="獅子王：木法沙(英語版)" width="200" height="300">
  <p>
    **電影簡介:**
    <p>迪士尼殿堂級經典《獅子王》30週年，全新一集《獅子王：木法沙》由金像級班底打造震撼大銀幕盛宴，見証王者傳奇。孤兒幼獅木法沙流落異鄉，徬徨迷失，直到遇上獅王後裔塔卡，成為好兄弟一同成長，共同面對死敵與考驗，展開一段改變命運的成王榮耀之旅！《獅子王：木法沙》12月19日大銀幕上映。</p>

    <p>導演    巴利贊堅斯</p>
    <p>演員	聲演：碧昴絲 (娜娜)、布魯艾菲卡特 (琪雅拉)</p>
  </p>
  <p>
    **劇情概要:**
    <p>拉飛奇（約翰·卡尼 配）向辛巴（唐納德·格洛沃 配）和娜娜（碧昂絲 配）的女兒琪拉雅（布魯·艾薇·卡特 配）轉述木法沙（亞倫·皮埃爾 配）的傳奇，彭彭（塞斯·羅根 配）和丁滿（比利·艾希納埃爾 配）帶來標誌性的插科。從木法沙（布雷林·蘭金斯 配）作為孤兒的童年，他獨自在外迷失方向，直到他遇到了富有同情心的皇族血脈繼承者獅子塔卡（提奧·紹莫盧 配）。這次偶遇引發了一場宏大的冒險，一群卓越的不合群者尋找它們的宿命，在逃避一起致命危機之時，它們之間的紐帶將受到考驗</p>
  </p>
  <p>
    **放映場次:**
  </p>
  <div class="showtimes">
    <table>
      <thead>
        <tr>
          <th>地點</th>
          <th>日期</th>
          <th>時間</th>
          <th>影廳</th>
          <th>票價</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>香港 MOViE MOViE Cityplaza (太古城)</td>
          <td>06/02 (Thu)</td>
          <td>04:40 PM</td>
          <td>MM MOMENTS</td>
          <td>$170</td>
        </tr>
      </tbody>
    </table>
    <p>* = 設有首場長春優先優惠</p>
  </div>
  <p>
    **影評:**
  </p>
</div>
{% endblock %}